@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductsByBrand
@inject IViewLocalizer Localizer

<style type="text/css">
    .page-header {
        padding-bottom: 9px;
        margin: 20px 0 30px;
        border-bottom: 1px solid #eeeeee;
        color: black;
    }

        .page-header small {
            color: lightgray;
        }
</style>


<div class="page-header">
    <h3>@Localizer["My Agricultural Product"] <small> @Localizer["all your agricultural products"]</small></h3>
</div>

<div class="row product-list">
    @foreach (var product in Model.Products)
    {
        <div class="col-xs-6 col-md-4">
            <partial name="_MyProductThumbnail" model="product" />
        </div>
    }

<div class="col-xs-6 col-md-4">
    <div class="card mb-4">
        <a href="/admin#!/product-create">
            <img alt="addnewoneicon.png" class="card-img-top" src="/public/images/products/addnewoneicon.png">
            <div class="card-body">
                <h5 class="card-title product-name">@Localizer["Create your new product"]</h5>
            </div>
        </a>
    </div>
</div>


</div>
