@model long

@{
    ViewBag.Title = "Result";
}

    <h2>@Localizer["Your order have been sent"]</h2>
    <p>@Localizer["we will handle this order soon"]<a href="~/user/orders/@Model">@Localizer["order detail"]</a></p>

