@inject IViewLocalizer Localizer

    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-outline-primary mt-1 btn-block btn-lg" href="/">@Localizer["NongMinGO News"]<i class="czi-arrow-right"></i></a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-outline-primary mt-1 btn-block btn-lg" href="/">@Localizer["I want to buy"]<i class="czi-arrow-right"></i></a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-outline-primary mt-1 btn-block btn-lg" href="/">@Localizer["I want to sell"]<i class="czi-arrow-right"></i></a>
        </div> 
    </div>
