@inject IViewLocalizer Localizer

<style type="text/css">
        .page-header {
            padding-bottom: 9px;
            margin: 20px 0 30px;
            border-bottom: 1px solid #eeeeee;
            color: black;
        }

        .page-header small {
            color: lightgray;
        }
</style>


<div class="page-header">
    <h3>@Localizer["Purchase Forms"] <small> @Localizer["prepare your own purchase form"]</small></h3>
</div>
